./env
# =========================
# ENVIRONNEMENTS VIRTUELS
# =========================
venv/
.venv/
env/
ENV/

# =========================
# CACHE PYTHON
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# FICHIERS JUPYTER
# =========================
.ipynb_checkpoints/

# =========================
# OUTILS DATA SCIENCE
# =========================
.pytest_cache/
.mypy_cache/
.ruff_cache/
.cache/

# =========================
# FICHIERS SYSTEME
# =========================
.DS_Store
Thumbs.db

# =========================
# VARIABLES D'ENVIRONNEMENT
# =========================
.env

# =========================
# LOGS
# =========================
*.log

# =========================
# FICHIERS TEMPORAIRES
# =========================
*.tmp
*.temp

# =========================
# SORTIES / MODELES
# =========================
models/
outputs/
artifacts/
checkpoints/

# =========================
# DONNEES LOURDES
# =========================
data/raw/
data/interim/
data/processed/

# =========================
# RAPPORTS ET EXPORTS
# =========================
*.csv
*.xlsx
*.parquet

# =========================
# IDE / EDITEURS
# =========================
.vscode/
.idea/

# =========================
# DISTRIBUTION PYTHON
# =========================
build/
dist/
*.egg-info/